node_modules
bin
.DS_Store
.idea
.vscode
*.env
*.bak
*.log
*.mdc
__debug_*
*~
compliance/sbom.json
compliance/augmented-sbom-v*.json

#used for schema code generation but is not commited to avoid constant updates
tools/codegen/open-api-spec.yml
