language: go

go:
  - 1.14.x
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip
  include:
    - name: "Code Lint"
      before_install: make tools
      script: make lint
    - name: "Website"
      before_install: make tools
      script:
        #- make website-test #commented until Terraform Provider Program Validation
        - make website-lint
script: make test
