package {{.NameLowerNoSpaces}}_test

import (
	"context"
	"testing"

    "github.com/stretchr/testify/assert"
	"github.com/mongodb/terraform-provider-mongodbatlas/internal/service/{{.NameLowerNoSpaces}}"
	// "go.mongodb.org/atlas-sdk/v20231115003/admin" use latest version
)

type sdkToTFModelTestCase struct {
	SDKResp         *admin.{{.NamePascalCase}}
	expectedTFModel *{{.NameLowerNoSpaces}}.TFModel
}

func Test{{.NamePascalCase}}SDKToTFModel(t *testing.T) {
	testCases := map[string]sdkToTFModelTestCase{ // TODO: consider adding test cases to contemplate all possible API responses
		"Complete SDK response": {
			SDKResp: &admin.{{.NamePascalCase}}{
			},
			expectedTFModel: &{{.NameLowerNoSpaces}}.TFModel{
			},
		},
	}

	for testName, tc := range testCases {
		t.Run(testName, func(t *testing.T) {
			resultModel, diags := {{.NameLowerNoSpaces}}.NewTFModel(context.Background(), tc.SDKResp)
			if diags.HasError() {
				t.Errorf("unexpected errors found: %s", diags.Errors()[0].Summary())
			}
			assert.Equal(t, tc.expectedTFModel, resultModel, "created terraform model did not match expected output")
		})
	}
}

{{if eq .GenerationType "resource"}}
type tfToSDKModelTestCase struct {
	tfModel        *{{.NameLowerNoSpaces}}.TFModel
	expectedSDKReq *admin.{{.NamePascalCase}}
}

func Test{{.NamePascalCase}}TFModelToSDK(t *testing.T) {
	testCases := map[string]tfToSDKModelTestCase{
		"Complete TF state": {
			tfModel: &{{.NameLowerNoSpaces}}.TFModel{
			},
			expectedSDKReq: &admin.{{.NamePascalCase}}{
			},
		},
	}

	for testName, tc := range testCases {
		t.Run(testName, func(t *testing.T) {
			apiReqResult, diags := {{.NameLowerNoSpaces}}.NewAtlasReq(context.Background(), tc.tfModel)
			if diags.HasError() {
				t.Errorf("unexpected errors found: %s", diags.Errors()[0].Summary())
			}
			assert.Equal(t, tc.expectedSDKReq, apiReqResult, "created sdk model did not match expected output")
		})
	}
}
{{end}}

