{
  "openapi" : "3.0.1",
  "info" : {
    "description" : "The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.\n\nThe Atlas Administration API uses HTTP Digest Authentication to authenticate requests. Provide a programmatic API public key and corresponding private key as the username and password when constructing the HTTP request. For example, to [return database access history](#tag/Access-Tracking/operation/listAccessLogsByClusterName) with [cURL](https://en.wikipedia.org/wiki/CURL), run the following command in the terminal:\n\n```\ncurl --user \"{PUBLIC-KEY}:{PRIVATE-KEY}\" \\\n  --digest \\\n  --header \"Accept: application/vnd.atlas.2023-02-01+json\" \\\n  GET \"https://cloud.mongodb.com/api/atlas/v2/groups/{groupId}/dbAccessHistory/clusters/{clusterName}?pretty=true\"\n```\n\nTo learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).",
    "license" : {
      "name" : "CC BY-NC-SA 3.0 US",
      "url" : "https://creativecommons.org/licenses/by-nc-sa/3.0/us/"
    },
    "termsOfService" : "https://www.mongodb.com/mongodb-management-service-terms-and-conditions",
    "title" : "MongoDB Atlas Administration API",
    "version" : "2.0",
    "x-xgen-sha" : "20e01fb2f237bb97ea3126542745e04c9ec4a778"
  },
  "servers" : [ {
    "url" : "https://cloud.mongodb.com"
  } ],
  "tags" : [ {
    "description" : "Returns access logs for authentication attempts made to Atlas database deployments. To view database access history, you must have either the Project Owner or Organization Owner role.",
    "name" : "Access Tracking"
  }, {
    "description" : "Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change.",
    "name" : "Alert Configurations"
  }, {
    "description" : "Returns and acknowledges alerts that MongoDB Cloud triggers based on the alert conditions that you define. This collection remains under revision and may change.",
    "name" : "Alerts"
  }, {
    "description" : "Returns, adds, edits, and removes Atlas Search indexes for the specified cluster. Also returns and updates user-defined analyzers for the specified cluster.",
    "name" : "Atlas Search"
  }, {
    "description" : "Returns and edits database auditing settings for MongoDB Cloud projects.",
    "name" : "Auditing"
  }, {
    "description" : "Manages Cloud Backup snapshots, snapshot export buckets, restore jobs, and schedules. This resource applies only to clusters that use Cloud Backups.",
    "name" : "Cloud Backups"
  }, {
    "description" : "Manages the Cloud Migration Service. Source organizations, projects, and MongoDB clusters reside on Cloud Manager or Ops Manager. Destination organizations, projects, and MongoDB clusters reside on MongoDB Cloud. Source databases can't use any authentication except SCRAM-SHA.",
    "name" : "Cloud Migration Service"
  }, {
    "description" : "Returns, adds, authorizes, and removes AWS IAM roles in Atlas.",
    "name" : "Cloud Provider Access"
  }, {
    "description" : "Returns, starts, or ends a cluster outage simulation.",
    "name" : "Cluster Outage Simulation"
  }, {
    "description" : "Returns, adds, edits, and removes database deployments. Changes to cluster configurations can affect costs. This resource requires your Project ID.",
    "name" : "Clusters"
  }, {
    "description" : "Returns and edits custom DNS configurations for MongoDB Cloud database deployments on AWS. The resource requires your Project ID. If you use the VPC peering on AWS and you use your own DNS servers instead of Amazon Route 53, enable custom DNS. Before 31 March 2020, applications deployed within AWS using custom DNS services and VPC-peered with MongoDB Cloud couldn't connect over private IP addresses. Custom DNS resolved to public IP addresses. AWS internal DNS resolved to private IP addresses. Applications deployed with custom DNS services in AWS should use Private IP for Peering connection strings.",
    "name" : "AWS Clusters DNS"
  }, {
    "description" : "Returns, adds, edits, and removes custom database user privilege roles. Use custom roles to specify custom sets of actions that the MongoDB Cloud built-in roles can't describe. You define custom roles at the project level, for all clusters in the project. This resource supports a subset of MongoDB privilege actions. You can create a subset of custom role actions. To create a wider list of custom role actions, use the MongoDB Cloud user interface. Custom roles must include actions that all project's clusters support, and that are compatible with each MongoDB version that your project's clusters use. For example, if your project has MongoDB 4.2 clusters, you can't create custom roles that use actions introduced in MongoDB 4.4.",
    "name" : "Custom Database Roles"
  }, {
    "description" : "Returns, adds, edits, and removes database users.",
    "name" : "Database Users"
  }, {
    "description" : "Returns, adds, edits, and removes Federated Database Instances. This resource requires your project ID. Changes to federated database instance configurations can affect costs.",
    "name" : "Data Federation"
  }, {
    "description" : "Returns, adds, edits, and removes Atlas Data Lake Pipelines and associated runs.",
    "name" : "Data Lake Pipelines"
  }, {
    "description" : "Returns and edits the Encryption at Rest using Customer Key Management configuration. MongoDB Cloud encrypts all storage whether or not you use your own key management.",
    "name" : "Encryption at Rest using Customer Key Management"
  }, {
    "description" : "Returns events. This collection remains under revision and may change.",
    "name" : "Events"
  }, {
    "description" : "Returns, adds, edits, and removes federation-related features such as role mappings and connected organization configurations.",
    "name" : "Federated Authentication"
  }, {
    "description" : "Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings. Each collection in a Global Cluster is associated with a managed namespace. When you create a managed namespace for a Global Cluster, MongoDB Cloud creates an empty collection for that namespace. Creating a managed namespace doesn't populate a collection with data. Similarly, deleting a managed namespace doesn't delete the associated collection.\nMongoDB Cloud shards the empty collection using the required location field and a custom shard key. For example, if your custom shard key is `city`, the compound shard key is `location, city`. Each Global Cluster is also associated with one or more Global Writes Zones. When a user creates a Global Cluster, MongoDB Cloud automatically maps each location code to the closest geographical zone. Custom zone mappings allow administrators to override these automatic mappings. For example, a use case might require mapping a location code to a geographically distant zone. Administrators can manage custom zone mappings with the APIs below and the **Global Cluster Configuration** pane when you create or modify your Global Cluster.",
    "name" : "Global Clusters"
  }, {
    "description" : "Returns invoices.",
    "name" : "Invoices"
  }, {
    "description" : "Returns, edits, verifies, and removes LDAP configurations. An LDAP configuration defines settings for MongoDB Cloud to connect to your LDAP server over TLS for user authentication and authorization. Your LDAP server must be visible to the internet or connected to your MongoDB Cloud cluster with VPC Peering. Also, your LDAP server must use TLS. You must have the MongoDB Cloud admin user privilege to use these endpoints. Also, to configure user authentication and authorization with LDAPS, your cluster must run MongoDB 3.6 or higher. Groups for which you have configured LDAPS can't create a cluster using a version of MongoDB 3.6 or lower.",
    "name" : "LDAP Configuration"
  }, {
    "description" : "Manages Legacy Backup snapshots, restore jobs, schedules and checkpoints.",
    "name" : "Legacy Backup"
  }, {
    "description" : "Returns, edits, and removes maintenance windows. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. You can defer a scheduled maintenance event for a project up to two times. Deferred maintenance events occur during your preferred maintenance window exactly one week after the previously scheduled date and time.",
    "name" : "Maintenance Windows"
  }, {
    "description" : "Returns, adds, and edits MongoDB Cloud users.",
    "name" : "MongoDB Cloud Users"
  }, {
    "description" : "Returns database deployment monitoring and logging data.",
    "name" : "Monitoring and Logs"
  }, {
    "description" : "Returns, adds, edits, and removes network peering containers and peering connections.\nWhen you deploy an M10+ dedicated cluster, Atlas creates a VPC for the selected provider and region or regions if no existing VPC or VPC peering connection exists for that provider and region. Atlas assigns the VPC a Classless Inter-Domain Routing (CIDR) block.",
    "name" : "Network Peering"
  }, {
    "description" : "Returns, adds, edits, or removes an online archive.",
    "name" : "Online Archive"
  }, {
    "description" : "Returns, adds, and edits organizational units in MongoDB Cloud.",
    "name" : "Organizations"
  }, {
    "description" : "Returns suggested indexes and slow query data for a database deployment. Also enables or disables MongoDB Cloud-managed slow operation thresholds. To view field values in a sample query, you must have the Project Data Access Read Only role or higher. Otherwise, MongoDB Cloud returns redacted data rather than the field values.",
    "name" : "Performance Advisor"
  }, {
    "description" : "Returns, adds, edits, and removes private endpoint services.",
    "name" : "Private Endpoint Services"
  }, {
    "description" : "Returns, adds, edits, and removes access tokens to use the MongoDB Cloud API. MongoDB Cloud applies these keys to organizations. These resources can return, assign, or revoke use of these keys within a specified project.",
    "name" : "Programmatic API Keys"
  }, {
    "description" : "Returns, adds, edits, and removes network access limits to database deployments in Atlas. This resource replaces the whitelist resource. Atlas removed whitelists in July 2021. Update your applications to use this new resource. This resource manages a project's IP Access List and supports creating temporary Access List entries that automatically expire within a user-configurable 7-day period.",
    "name" : "Project IP Access List"
  }, {
    "description" : "Returns, adds, and edits collections of clusters and users in MongoDB Cloud.",
    "name" : "Projects"
  }, {
    "description" : "Creates one index to a database deployment in a rolling manner. You can't create a rolling index on an `M0` free cluster or `M2/M5` shared cluster.",
    "name" : "Rolling Index"
  }, {
    "description" : "Returns details that describe the MongoDB Cloud build and the access token that requests this resource. This starts the MongoDB Cloud API.",
    "name" : "Root"
  }, {
    "description" : "Returns, adds, edits, and removes serverless instances.",
    "name" : "Serverless Instances"
  }, {
    "description" : "Returns, adds, edits, and removes private endpoints for serverless instances. To learn more, see the Atlas Administration API tab on the following tutorial.",
    "externalDocs" : {
      "description" : "Set Up a Private Endpoint for a Serverless Instance Tutorial",
      "url" : "https://dochub.mongodb.org/core/serverless-private-endpoint"
    },
    "name" : "Serverless Private Endpoints"
  }, {
    "description" : "Returns and adds restore jobs for shared-tier database deployments.",
    "name" : "Shared-Tier Restore Jobs"
  }, {
    "description" : "Returns and requests to download shared-tier database deployment snapshots.",
    "name" : "Shared-Tier Snapshots"
  }, {
    "description" : "Returns, adds, edits, and removes Streams Instances. This resource requires your project ID.",
    "name" : "Streams"
  }, {
    "description" : "Returns, adds, edits, or removes teams.",
    "name" : "Teams"
  }, {
    "description" : "Atlas test endpoints.",
    "name" : "Test"
  }, {
    "description" : "Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.\n\n**IMPORTANT**: Each project can only have one configuration per integrationType.",
    "name" : "Third-Party Integrations"
  }, {
    "description" : "Returns, edits, and removes user-managed X.509 configurations. Also returns and generates MongoDB Cloud-managed X.509 certificates for database users. The following resources help manage database users who authenticate using X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud do it for you. If MongoDB Cloud manages your certificates, it also manages your Certificate Authority and can generate certificates for your database users. No additional X.509 configuration is required. If you manage your certificates, you must provide a Certificate Authority and generate certificates for your database users.",
    "externalDocs" : {
      "description" : "Self-Managed X.509 Certificates",
      "url" : "https://www.mongodb.com/docs/atlas/security-self-managed-x509/"
    },
    "name" : "X.509 Authentication"
  } ],
  "paths" : {
    "/api/atlas/v2" : {
      "get" : {
        "description" : "This resource returns information about the MongoDB application along with API key meta data.",
        "operationId" : "getSystemStatus",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemStatus"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "summary" : "Return the status of this MongoDB application",
        "tags" : [ "Root" ]
      }
    },
    "/api/atlas/v2/alertConfigs/matchers/fieldNames" : {
      "get" : {
        "description" : "Get all field names that the `matchers.fieldName` parameter accepts when you create or update an Alert Configuration. You can successfully call this endpoint with any assigned role.",
        "operationId" : "listAlertConfigurationMatchersFieldNames",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MatcherFieldView"
                  }
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Get All Alert Configuration Matchers Field Names",
        "tags" : [ "Alert Configurations" ]
      }
    },
    "/api/atlas/v2/clusters" : {
      "get" : {
        "description" : "Returns the details for all clusters in all projects to which you have access. Clusters contain a group of hosts that maintain the same data set. The response does not include multi-cloud clusters. To use this resource, the requesting API Key can have any cluster-level role.",
        "operationId" : "listClustersForAllProjects",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedOrgGroupView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Authorized Clusters in All Projects",
        "tags" : [ "Clusters" ]
      }
    },
    "/api/atlas/v2/example/info" : {
      "get" : {
        "description" : "Returns some text dummy data for test purposes. Deprecated versions: v2-{2023-01-01}",
        "operationId" : "versionedExample",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "description" : "Show more info.",
          "in" : "query",
          "name" : "additionalInfo",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-02-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExampleResourceResponseView20230201"
                },
                "x-xgen-version" : "2023-02-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Example resource info for versioning of the Atlas API",
        "tags" : [ "Test" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}" : {
      "delete" : {
        "description" : "Deletes the federation settings instance and all associated data, including identity providers and domains. To use this resource, the requesting API Key must have the Organization Owner role in the last remaining connected organization. **Note**: requests to this resource will fail if there is more than one connected organization in the federation.",
        "operationId" : "deleteFederationApp",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "No Content"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Delete the federation settings instance.",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs" : {
      "get" : {
        "description" : "Returns all connected org configs in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected orgs.",
        "operationId" : "listConnectedOrgConfigs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConnectedOrgConfig"
                  }
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "summary" : "Return All Connected Org Configs from the Federation",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}" : {
      "delete" : {
        "description" : "Removes one connected organization configuration from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role. Note: This request fails if only one connected organization exists in the federation.",
        "operationId" : "removeConnectedOrgConfig",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the connected organization configuration to remove.",
          "in" : "path",
          "name" : "orgId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NoBody"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "This endpoint does not return a response body."
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Remove One Org Config Connected to One Federation",
        "tags" : [ "Federated Authentication" ]
      },
      "get" : {
        "description" : "Returns the specified connected org config from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in the connected org.",
        "operationId" : "getConnectedOrgConfig",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the connected organization configuration to return.",
          "in" : "path",
          "name" : "orgId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectedOrgConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Org Config Connected to One Federation",
        "tags" : [ "Federated Authentication" ]
      },
      "patch" : {
        "description" : "Updates one connected organization configuration from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role. \n\n**Note** If the organization configuration has no associated identity provider, you can't use this resource to update role mappings or post authorization role grants.  \n\n**Note**: The domainRestrictionEnabled field defaults to false if not provided in the request. \n\n**Note**: If the identityProviderId field is not provided, you will disconnect the organization and the identity provider.",
        "operationId" : "updateConnectedOrgConfig",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the connected organization configuration to update.",
          "in" : "path",
          "name" : "orgId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConnectedOrgConfig"
              }
            }
          },
          "description" : "The connected organization configuration that you want to update.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConnectedOrgConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Update One Org Config Connected to One Federation",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings" : {
      "get" : {
        "description" : "Returns all role mappings from the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId" : "listRoleMappings",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/orgId"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedRoleMappingView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Role Mappings from One Organization",
        "tags" : [ "Federated Authentication" ]
      },
      "post" : {
        "description" : "Adds one role mapping to the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId" : "createRoleMapping",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/orgId"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthFederationRoleMapping"
              }
            }
          },
          "description" : "The role mapping that you want to create.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Add One Role Mapping to One Organization",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/connectedOrgConfigs/{orgId}/roleMappings/{id}" : {
      "delete" : {
        "description" : "Removes one role mapping in the specified organization from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId" : "deleteRoleMapping",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the role mapping that you want to remove.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/orgId"
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "No Content"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Remove One Role Mapping from One Organization",
        "tags" : [ "Federated Authentication" ]
      },
      "get" : {
        "description" : "Returns one role mapping from the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId" : "getRoleMapping",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the role mapping that you want to return.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/orgId"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Role Mapping from One Organization",
        "tags" : [ "Federated Authentication" ]
      },
      "put" : {
        "description" : "Updates one role mapping in the specified organization in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role.",
        "operationId" : "updateRoleMapping",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the role mapping that you want to update.",
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/orgId"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthFederationRoleMapping"
              }
            }
          },
          "description" : "The role mapping that you want to update.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthFederationRoleMapping"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Update One Role Mapping in One Organization",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders" : {
      "get" : {
        "description" : "Returns all identity providers with the provided protocol in the specified federation. If no protocol is specified, only SAML identity providers will be returned. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected organizations.",
        "operationId" : "listIdentityProviders",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "description" : "The protocols of the target identity providers.",
          "in" : "query",
          "name" : "protocol",
          "schema" : {
            "type" : "string",
            "enum" : [ "SAML", "OIDC" ]
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/FederationIdentityProvider"
                  }
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return all identity providers from the specified federation.",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}" : {
      "get" : {
        "description" : "Returns one SAML identity provider from the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected organizations.",
        "operationId" : "getIdentityProvider",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/identityProviderId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FederationSamlIdentityProvider"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return one SAML identity provider from the specified federation.",
        "tags" : [ "Federated Authentication" ]
      },
      "patch" : {
        "description" : "Updates one SAML identity provider in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected organizations.",
        "operationId" : "updateIdentityProvider",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/identityProviderId"
        }, {
          "$ref" : "#/components/parameters/envelope"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SamlIdentityProviderUpdate"
              }
            }
          },
          "description" : "The identity provider that you want to update.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FederationSamlIdentityProvider"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Update the SAML identity provider.",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/federationSettings/{federationSettingsId}/identityProviders/{identityProviderId}/metadata.xml" : {
      "get" : {
        "description" : "Returns the metadata of one identity provider in the specified federation. To use this resource, the requesting API Key must have the Organization Owner role in one of the connected organizations.",
        "operationId" : "getIdentityProviderMetadata",
        "parameters" : [ {
          "$ref" : "#/components/parameters/federationSettingsId"
        }, {
          "$ref" : "#/components/parameters/identityProviderId"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "type" : "string"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return the metadata of one identity provider in the specified federation.",
        "tags" : [ "Federated Authentication" ]
      }
    },
    "/api/atlas/v2/groups" : {
      "get" : {
        "description" : "Returns details about all projects. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Read Write role.",
        "operationId" : "listProjects",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedAtlasGroupView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "summary" : "Return All Projects",
        "tags" : [ "Projects" ]
      },
      "post" : {
        "description" : "Creates one project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Read Write role.",
        "operationId" : "createProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the MongoDB Cloud user to whom to grant the Project Owner role on the specified project. If you set this parameter, it overrides the default value of the oldest Organization Owner.",
          "in" : "query",
          "name" : "projectOwnerId",
          "schema" : {
            "type" : "string",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group"
              }
            }
          },
          "description" : "Creates one project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "409" : {
            "$ref" : "#/components/responses/conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Create One Project",
        "tags" : [ "Projects" ]
      }
    },
    "/api/atlas/v2/groups/byName/{groupName}" : {
      "get" : {
        "description" : "Returns details about the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Project Read Only role.",
        "operationId" : "getProjectByName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Human-readable label that identifies this project.",
          "in" : "path",
          "name" : "groupName",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 64,
            "minLength" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "409" : {
            "$ref" : "#/components/responses/conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "summary" : "Return One Project using Its Name",
        "tags" : [ "Projects" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}" : {
      "delete" : {
        "description" : "Removes the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. You can delete a project only if there are no Online Archives for the clusters in the project. To use this resource, the requesting API Key must have the Project Owner role.",
        "operationId" : "deleteProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NoBody"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "This endpoint does not return a response body."
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "409" : {
            "$ref" : "#/components/responses/conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Remove One Project",
        "tags" : [ "Projects" ]
      },
      "get" : {
        "description" : "Returns details about the specified project. Projects group clusters into logical collections that support an application environment, workload, or both. Each project can have its own users, teams, security, and alert settings. To use this resource, the requesting API Key must have the Project Read Only role.",
        "operationId" : "getProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Project",
        "tags" : [ "Projects" ]
      },
      "patch" : {
        "description" : "Updates the human-readable label that identifies the specified project. To use this resource, the requesting API Key must have the Project Owner role.",
        "operationId" : "updateProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupName"
              }
            }
          },
          "description" : "Project to update.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Update One Project Name",
        "tags" : [ "Projects" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/access" : {
      "post" : {
        "description" : "Adds one MongoDB Cloud user to the specified project. If the MongoDB Cloud user is not a member of the project's organization, then the user must accept their invitation to the organization to access information within the specified project. To use this resource, the requesting API Key must have the Group User Admin role.",
        "operationId" : "addUserToProject",
        "parameters" : [ {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "$ref" : "#/components/parameters/envelope"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-02-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupInvitationRequest"
              }
            }
          },
          "description" : "Adds one MongoDB Cloud user to the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-02-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationInvitation"
                },
                "x-xgen-version" : "2023-02-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Add One MongoDB Cloud User to One Project",
        "tags" : [ "Projects" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/accessList" : {
      "get" : {
        "description" : "Returns all access list entries from the specified project's IP access list. Each entry in the project's IP access list contains either one IP address or one CIDR-notated block of IP addresses. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. To use this resource, the requesting API Key must have the Project Read Only or Project Charts Admin roles. This resource replaces the whitelist resource. MongoDB Cloud removed whitelists in July 2021. Update your applications to use this new resource. The `/groups/{GROUP-ID}/accessList` endpoint manages the database IP access list. This endpoint is distinct from the `orgs/{ORG-ID}/apiKeys/{API-KEY-ID}/accesslist` endpoint, which manages the access list for MongoDB Cloud organizations.",
        "externalDocs" : {
          "description" : "IP access list",
          "url" : "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId" : "listProjectIpAccessLists",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedNetworkAccessView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return Project IP Access List",
        "tags" : [ "Project IP Access List" ]
      },
      "post" : {
        "description" : "Adds one or more access list entries to the specified project. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. Write each entry as either one IP address or one CIDR-notated block of IP addresses. To use this resource, the requesting API Key must have the Project Owner or Project Charts Admin roles. This resource replaces the whitelist resource. MongoDB Cloud removed whitelists in July 2021. Update your applications to use this new resource. The `/groups/{GROUP-ID}/accessList` endpoint manages the database IP access list. This endpoint is distinct from the `orgs/{ORG-ID}/apiKeys/{API-KEY-ID}/accesslist` endpoint, which manages the access list for MongoDB Cloud organizations. This endpoint doesn't support concurrent `POST` requests. You must submit multiple `POST` requests synchronously.",
        "externalDocs" : {
          "description" : "IP access list",
          "url" : "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId" : "createProjectIpAccessList",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/NetworkPermissionEntry"
                }
              }
            }
          },
          "description" : "One or more access list entries to add to the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedNetworkAccessView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Add Entries to Project IP Access List",
        "tags" : [ "Project IP Access List" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/accessList/{entryValue}" : {
      "delete" : {
        "description" : "Removes one access list entry from the specified project's IP access list. Each entry in the project's IP access list contains one IP address, one CIDR-notated block of IP addresses, or one AWS Security Group ID. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. To use this resource, the requesting API Key must have the Project Owner role. This resource replaces the whitelist resource. MongoDB Cloud removed whitelists in July 2021. Update your applications to use this new resource. The `/groups/{GROUP-ID}/accessList` endpoint manages the database IP access list. This endpoint is distinct from the `orgs/{ORG-ID}/apiKeys/{API-KEY-ID}/accesslist` endpoint, which manages the access list for MongoDB Cloud organizations.",
        "externalDocs" : {
          "description" : "IP access list",
          "url" : "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId" : "deleteProjectIpAccessList",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Access list entry that you want to remove from the project's IP access list. This value can use one of the following: one AWS security group ID, one IP address, or one CIDR block of addresses. For CIDR blocks that use a subnet mask, replace the forward slash (`/`) with its URL-encoded value (`%2F`). When you remove an entry from the IP access list, existing connections from the removed address or addresses may remain open for a variable amount of time. The amount of time it takes MongoDB Cloud to close the connection depends upon several factors, including:\n\n- how your application established the connection,\n- how MongoDB Cloud or the driver using the address behaves, and\n- which protocol (like TCP or UDP) the connection uses.",
          "in" : "path",
          "name" : "entryValue",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
            "pattern" : "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NoBody"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "This endpoint does not return a response body."
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Remove One Entry from One Project IP Access List",
        "tags" : [ "Project IP Access List" ]
      },
      "get" : {
        "description" : "Returns one access list entry from the specified project's IP access list. Each entry in the project's IP access list contains either one IP address or one CIDR-notated block of IP addresses. MongoDB Cloud only allows client connections to the cluster from entries in the project's IP access list. To use this resource, the requesting API Key must have the Project Read Only or Project Charts Admin roles. This resource replaces the whitelist resource. MongoDB Cloud removed whitelists in July 2021. Update your applications to use this new resource. This endpoint (`/groups/{GROUP-ID}/accessList`) manages the Project IP Access List. It doesn't manage the access list for MongoDB Cloud organizations. TheProgrammatic API Keys endpoint (`/orgs/{ORG-ID}/apiKeys/{API-KEY-ID}/accesslist`) manages those access lists.",
        "externalDocs" : {
          "description" : "IP access list",
          "url" : "https://docs.atlas.mongodb.com/security/ip-access-list/#std-label-access-list"
        },
        "operationId" : "getProjectIpList",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Access list entry that you want to return from the project's IP access list. This value can use one of the following: one AWS security group ID, one IP address, or one CIDR block of addresses. For CIDR blocks that use a subnet mask, replace the forward slash (`/`) with its URL-encoded value (`%2F`).",
          "in" : "path",
          "name" : "entryValue",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
            "pattern" : "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkPermissionEntry"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Project IP Access List Entry",
        "tags" : [ "Project IP Access List" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/accessList/{entryValue}/status" : {
      "get" : {
        "description" : "Returns the status of one project IP access list entry. This resource checks if the provided project IP access list entry applies to all cloud providers serving clusters from the specified project.",
        "operationId" : "getProjectIpAccessListStatus",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Network address or cloud provider security construct that identifies which project access list entry to be verified.",
          "in" : "path",
          "name" : "entryValue",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "IPv4: 192.0.2.0%2F24 or IPv6: 2001:db8:85a3:8d3:1319:8a2e:370:7348 or IPv4 CIDR: 198.51.100.0%2f24 or IPv6 CIDR: 2001:db8::%2f58 or AWS SG: sg-903004f8",
            "pattern" : "^([0-9]{1,3}\\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\\:){1,6}\\:(%2[fF][0-9]{1,3})|(sg\\-[a-f0-9]{8})?$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NetworkPermissionEntryStatus"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return Status of One Project IP Access List Entry",
        "tags" : [ "Project IP Access List" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs" : {
      "get" : {
        "description" : "Returns all alert configurations for one project. These alert configurations apply to any component in the project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "listAlertConfigurations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedAlertConfigView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Alert Configurations for One Project",
        "tags" : [ "Alert Configurations" ]
      },
      "post" : {
        "description" : "Creates one alert configuration for the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId" : "createAlertConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "description" : "Creates one alert configuration for the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Create One Alert Configuration in One Project",
        "tags" : [ "Alert Configurations" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}" : {
      "delete" : {
        "description" : "Removes one alert configuration from the specified project. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId" : "deleteAlertConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertConfigId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "204" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "No Content"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Remove One Alert Configuration from One Project",
        "tags" : [ "Alert Configurations" ]
      },
      "get" : {
        "description" : "Returns the specified alert configuration from the specified project. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "getAlertConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertConfigId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Alert Configuration from One Project",
        "tags" : [ "Alert Configurations" ]
      },
      "patch" : {
        "description" : "Enables or disables the specified alert configuration in the specified project. The resource enables the specified alert configuration if currently enabled. The resource disables the specified alert configuration if currently disabled. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: This endpoint updates only the enabled/disabled state for the alert configuration. To update more than just this configuration, see [Update One Alert Configuration](#tag/Alert-Configurations/operation/updateAlertConfiguration).\n\nThis resource remains under revision and may change.",
        "operationId" : "toggleAlertConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert configuration that triggered this alert. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertConfigId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertsToggle"
              }
            }
          },
          "description" : "Enables or disables the specified alert configuration in the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Toggle One State of One Alert Configuration in One Project",
        "tags" : [ "Alert Configurations" ]
      },
      "put" : {
        "description" : "Updates one alert configuration in the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\n**NOTE**: To enable or disable the alert configuration, see [Toggle One State of One Alert Configuration in One Project](#tag/Alert-Configurations/operation/toggleAlertConfiguration).\n\nThis resource remains under revision and may change.",
        "operationId" : "updateAlertConfiguration",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertConfigId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupAlertsConfig"
              }
            }
          },
          "description" : "Updates one alert configuration in the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupAlertsConfig"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Update One Alert Configuration for One Project",
        "tags" : [ "Alert Configurations" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}/alerts" : {
      "get" : {
        "description" : "Returns all open alerts that the specified alert configuration triggers. These alert configurations apply to the specified project only. Alert configurations define the triggers and notification methods for alerts. Open alerts have been triggered but remain unacknowledged. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "listAlertsByAlertConfigurationId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert configuration. Use the [/alertConfigs](#tag/Alert-Configurations/operation/listAlertConfigurations) endpoint to retrieve all alert configurations to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertConfigId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "32b6e34b3d91647abb20e7b8",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedAlertView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Open Alerts for Alert Configuration",
        "tags" : [ "Alerts" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts" : {
      "get" : {
        "description" : "Returns all alerts. These alerts apply to all components in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "listAlerts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Status of the alerts to return. Omit to return all alerts in all statuses.",
          "in" : "query",
          "name" : "status",
          "schema" : {
            "type" : "string",
            "enum" : [ "OPEN", "TRACKING", "CLOSED" ]
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedAlertView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Alerts from One Project",
        "tags" : [ "Alerts" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts/{alertId}" : {
      "get" : {
        "description" : "Returns one alert. This alert applies to any component in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "getAlert",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertViewForNdsGroup"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return One Alert from One Project",
        "tags" : [ "Alerts" ]
      },
      "patch" : {
        "description" : "Confirms receipt of one existing alert. This alert applies to any component in one project. Acknowledging an alert prevents successive notifications. You receive an alert when a monitored component meets or exceeds a value you set until you acknowledge the alert. To use this resource, the requesting API Key must have the Organization Owner or Project Owner role.\n\nThis resource remains under revision and may change.",
        "operationId" : "acknowledgeAlert",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertViewForNdsGroup"
              }
            }
          },
          "description" : "Confirm one alert.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlertViewForNdsGroup"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "400" : {
            "$ref" : "#/components/responses/badRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Acknowledge One Alert from One Project",
        "tags" : [ "Alerts" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs" : {
      "get" : {
        "description" : "Returns all alert configurations set for the specified alert. To use this resource, the requesting API Key must have the Project Read Only role.\n\nThis resource remains under revision and may change.",
        "operationId" : "listAlertConfigurationsByAlertId",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies the alert. Use the [/alerts](#tag/Alerts/operation/listAlerts) endpoint to retrieve all alerts to which the authenticated user has access.",
          "in" : "path",
          "name" : "alertId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 24,
            "minLength" : 24,
            "pattern" : "^([a-f0-9]{24})$"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedAlertConfigView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "404" : {
            "$ref" : "#/components/responses/notFound"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Alert Configurations Set for One Alert",
        "tags" : [ "Alert Configurations" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/apiKeys" : {
      "get" : {
        "description" : "Returns all organization API keys that you assigned to the specified project. Users with the Project Owner role in the project associated with the API key can use the organization API key to access the resources. To use this resource, the requesting API Key must have the Project User Admin role.",
        "externalDocs" : {
          "description" : "Programmatic API Keys",
          "url" : "https://docs.atlas.mongodb.com/configure-api-access/#std-label-atlas-prog-api-key"
        },
        "operationId" : "listProjectApiKeys",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/includeCount"
        }, {
          "$ref" : "#/components/parameters/itemsPerPage"
        }, {
          "$ref" : "#/components/parameters/pageNum"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedApiApiUserView"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Return All Organization API Keys Assigned to One Project",
        "tags" : [ "Programmatic API Keys" ]
      },
      "post" : {
        "description" : "Creates and assigns the specified organization API key to the specified project. Users with the Project Owner role in the project associated with the API key can use the organization API key to access the resources. To use this resource, the requesting API Key must have the Project User Admin role.",
        "operationId" : "createProjectApiKey",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "$ref" : "#/components/parameters/pretty"
        } ],
        "requestBody" : {
          "content" : {
            "application/vnd.atlas.2023-01-01+json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAtlasProjectApiKey"
              }
            }
          },
          "description" : "Organization API key to be created and assigned to the specified project.",
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.atlas.2023-01-01+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyUserDetails"
                },
                "x-xgen-version" : "2023-01-01"
              }
            },
            "description" : "OK"
          },
          "401" : {
            "$ref" : "#/components/responses/unauthorized"
          },
          "500" : {
            "$ref" : "#/components/responses/internalServerError"
          }
        },
        "security" : [ {
          "DigestAuth" : [ ]
        } ],
        "summary" : "Create and Assign One Organization API Key to One Project",
        "tags" : [ "Programmatic API Keys" ]
      }
    },
    "/api/atlas/v2/groups/{groupId}/apiKeys/{apiUserId}" : {
      "delete" : {
        "description" : "Removes one organization API key from the specified project. To use this resource, the requesting API Key must have the Project User Admin role.",
        "externalDocs" : {
          "description" : "Programmatic API Keys",
          "url" : "https://docs.atlas.mongodb.com/configure-api-access/#std-label-atlas-prog-api-key"
        },
        "operationId" : "removeProjectApiKey",
        "parameters" : [ {
          "$ref" : "#/components/parameters/envelope"
        }, {
          "$ref" : "#/components/parameters/groupId"
        }, {
          "description" : "Unique 24-hexadecimal digit string that identifies this organization API key that you want to unassign from one project.",
          "in" : "path",
          "name" : "apiUserId",
          "required" : true,
          "schema" : {
            "type" : "string",
            "maxLength" : 24,
            "minLength" : 24,
[...]
