resources:
  push_based_log_export:
    read:
      path: /api/atlas/v2/groups/{groupId}/pushBasedLogExport
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/pushBasedLogExport
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
      timeouts: ["create", "update", "delete"]
      
      # overrides:
      #   project_id:
      #     plan_modifiers: [{
      #         imports: [ "github.com/hashicorp/terraform-plugin-framework/resource/schema/stringplanmodifier" ],
      #         definition: "stringplanmodifier.RequiresReplace()"
      #     }]
      #     validators: [{
      #       imports: [
      #       "github.com/hashicorp/terraform-plugin-framework-validators/stringvalidator",
      #       "github.com/hashicorp/terraform-plugin-framework/path"
      #       ],
      #       definition: "stringvalidator.ConflictsWith(path.MatchRoot(\"name\"))"
      #     }]
      
      #   prefix_path:
      #     computability:
      #       optional: true
      #       computed: true
  
  search_deployment:
    read:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/search/deployment
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/search/deployment
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
      timeouts: ["create", "update", "delete"]
  resource_policy:
    read:
      path: /api/atlas/v2/orgs/{orgId}/resourcePolicies/{resourcePolicyId}
      method: GET
    create:
      path: /api/atlas/v2/orgs/{orgId}/resourcePolicies
      method: POST