resources:
  push_based_log_export:
    read:
      path: /api/atlas/v2/groups/{groupId}/pushBasedLogExport
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/pushBasedLogExport
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
      timeouts: ["create", "update", "delete"]
      # overrides:
      #   project_id:
      #     plan_modifiers: [{
      #         imports: [ "github.com/hashicorp/terraform-plugin-framework/resource/schema/stringplanmodifier" ],
      #         definition: "stringplanmodifier.RequiresReplace()"
      #     }]
      #     validators: [{
      #       imports: [
      #       "github.com/hashicorp/terraform-plugin-framework-validators/stringvalidator",
      #       "github.com/hashicorp/terraform-plugin-framework/path"
      #       ],
      #       definition: "stringvalidator.ConflictsWith(path.MatchRoot(\"name\"))"
      #     }]
      #   prefix_path:
      #     computability:
      #       optional: true
      #       computed: true
  search_deployment:
    read:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/search/deployment
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/search/deployment
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
      timeouts: ["create", "update", "delete"]

  advanced_cluster:
    read:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/clusters
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
      timeouts: ["create", "update", "delete"]

  # advanced_configuration attribute in advanced_cluster
  advanced_cluster_process_args:
    read:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/processArgs
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/clusters/{clusterName}/processArgs
      method: PATCH
    schema:
      aliases:
        group_id: project_id

  stream_privatelink_endpoint:
    read:
      path: /api/atlas/v2/groups/{groupId}/streams/privateLinkConnections/{connectionId}
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/streams/privateLinkConnections
      method: POST
    schema:
      aliases:
        group_id: project_id
        _id: id
      ignores: ["links"]

  flex_snapshot:
    # does not have a POST endpoint so schema can't be autogenerated
    create:
      path: /api/atlas/v2/*
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]

  flex_restore_job:
    read:
      path: /api/atlas/v2/groups/{groupId}/flexClusters/{name}/backup/restoreJobs/{restoreJobId}
      method: GET
    create:
      path: /api/atlas/v2/groups/{groupId}/flexClusters/{name}/backup/restoreJobs
      method: POST
    schema:
      aliases:
        group_id: project_id
      ignores: ["links"]
