# {{.Type}}: {{.Name}}

`{{.Name}}` provides a API Key Project Assignment resource. The resource lets you create, edit and delete Organization API keys assignments to projects.

## Example Usages

{{ tffile "examples/mongodbatlas_api_key/main.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import 
API Key Project Assignment resource can be imported using the project ID and API key ID, in the format `{PROJECT_ID}/{API_KEY_ID}`, e.g.

```
terraform import mongodbatlas_api_key_project_assignment.test 65def6ce0f722a1507105aa5/66f1c018dba9c04e7dcfaf36
```

For more information see: [MongoDB Atlas API - Programmatic API Keys Project Assignment](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-programmatic-api-keys) Documentation.
