---
subcategory: "Clusters"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides a Flex Cluster resource. The resource lets you create, update, delete and import a flex cluster.

**RECOMMENDATION:** We recommend using the `mongodbatlas_advanced_cluster` resource instead of the `mongodbatlas_flex_cluster` resource to create and manage Flex clusters. The `mongodbatlas_advanced_cluster` resource not only supports Flex clusters, but also supports tenant and dedicated clusters, providing easier migration between different cluster types. For more information, see the [Advanced Cluster](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/resources/advanced_cluster) resource.

## Example Usages

{{ tffile (printf "examples/%s/main.tf" .Name )}}

### Further Examples
- [Flex Cluster](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v1.41.1/examples/mongodbatlas_flex_cluster)

{{ .SchemaMarkdown | trimspace }}

## Import 
You can import the Flex Cluster resource by using the Project ID and Flex Cluster name, in the format `PROJECT_ID-FLEX_CLUSTER_NAME`. For example:
```
$ terraform import mongodbatlas_flex_cluster.test 6117ac2fe2a3d04ed27a987v-yourFlexClusterName
```

For more information see: [MongoDB Atlas API - Flex Cluster](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/#tag/Flex-Clusters/operation/createFlexcluster) Documentation.
