---
subcategory: "Log Integration"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides a resource for managing log integration configurations at the project level. This resource allows you to continually export `mongod`, `mongos`, and audit logs at 1-minute intervals. Supported integration types include AWS S3, Google Cloud Storage, Azure Blob Storage, Datadog, Splunk, and OpenTelemetry.

To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.

## Example Usages

### AWS S3

{{ tffile "examples/mongodbatlas_log_integration/s3bucket/main.tf" }}

### Google Cloud Storage (GCS)

{{ tffile "examples/mongodbatlas_log_integration/gcp/main.tf" }}

### Azure Blob Storage

{{ tffile "examples/mongodbatlas_log_integration/azure/main.tf" }}

### Datadog

{{ tffile "examples/mongodbatlas_log_integration/datadog/main.tf" }}

### Splunk

{{ tffile "examples/mongodbatlas_log_integration/splunk/main.tf" }}

### OpenTelemetry

{{ tffile "examples/mongodbatlas_log_integration/otel/main.tf" }}

### Further Examples
- [Log Integration Examples](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.9.0/examples/mongodbatlas_log_integration)

{{ .SchemaMarkdown | trimspace }}

## Import 
Log integration resource can be imported using the project ID and log integration ID, separated by a slash, e.g.

```
$ terraform import mongodbatlas_log_integration.test 650972848269185c55f40ca1/6789abcd1234ef5678901234
```

For more information see: [MongoDB Atlas API - Log Integration](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-push-based-log-export) Documentation.

