---
subcategory: "Log Integration"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides a resource for managing log integration configurations at the project level. This resource allows you to continually export `mongod`, `mongos`, and audit logs to an AWS S3 bucket with 1-minute log export intervals.

To use this resource, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.

## Example Usage

{{ tffile (printf "examples/%s/s3bucket/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

## Import 
Log integration resource can be imported using the project ID and log integration ID, separated by a slash, e.g.

```
$ terraform import mongodbatlas_log_integration.test 650972848269185c55f40ca1/6789abcd1234ef5678901234
```

For more information see: [MongoDB Atlas API - Log Integration](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-push-based-log-export) Documentation.

