---
subcategory: "Service Accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides a Project Service Account resource. The resource lets you create, update, delete, and import a Service Account for the specified Project.

~> **IMPORTANT NOTE** The use of `{{.Name}}` resource is not recommended for users with Organization Owner permissions. For Organization Owner permissions, we recommend using the `mongodbatlas_service_account` resource and the `mongodbatlas_service_account_project_assignment` resource to assign the Service Account to projects.

~> **IMPORTANT WARNING:** Managing Service Accounts with Terraform **exposes sensitive organizational secrets** in Terraform's state. We suggest following [Terraform's best practices](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

~> **IMPORTANT:** When you delete a `{{.Name}}` resource, it deassigns the Service Account from the project but does not delete the Service Account itself. The Service Account will remain in your organization and can be reassigned to projects or deleted separately if needed.

## Example Usages

{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

## Import 
Import the Project Service Account resource by using the Project ID and Client ID in the format `PROJECT_ID/CLIENT_ID`, e.g.
```
$ terraform import {{.Name}}.test 6117ac2fe2a3d04ed27a987v/mdb_sa_id_1234567890abcdef12345678
```

For more information, see [Create One Project Service Account](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-creategroupserviceaccount) in the MongoDB Atlas API documentation.
