---
subcategory: "Push-Based Log Export"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides a resource for push-based log export feature. The resource lets you configure, enable & disable the project level settings for the push-based log export feature. Using this resource you 
can continually push logs from mongod, mongos, and audit logs to an Amazon S3 bucket. Atlas exports logs every 5 minutes.

The [push based log export Terraform module](https://registry.terraform.io/modules/terraform-mongodbatlas-modules/push-based-log-export/mongodbatlas/latest) makes use of this resource and simplifies its use.


## Example Usages

{{ tffile (printf "examples/%s/main.tf" .Name )}}

### Further Examples
- [Push-Based Log Export](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.1/examples/mongodbatlas_push_based_log_export)

{{ .SchemaMarkdown | trimspace }}

## Import 
Push-based log export resource can be imported using the project ID, e.g.

```
$ terraform import mongodbatlas_push_based_log_export.test 650972848269185c55f40ca1
```

For more information see: [MongoDB Atlas API - Push-Based Log Export](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-push-based-log-export) Documentation.
