---
subcategory: "Streams"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes a Privatelink Endpoint for Streams.

## Example Usages

### AWS Confluent Privatelink
{{ tffile (printf "examples/%s/confluent_dedicated_cluster/main.tf" .Name )}}

### AWS MSK Privatelink
{{ tffile (printf "examples/%s/aws_msk_cluster/main.tf" .Name )}}

### AWS S3 Privatelink
{{ tffile (printf "examples/%s/s3/main.tf" .Name )}}

### Further Examples
- [AWS Confluent PrivateLink](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.0/examples/mongodbatlas_stream_privatelink_endpoint/confluent_serverless)
- [Confluent Dedicated Cluster](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.0/examples/mongodbatlas_stream_privatelink_endpoint/confluent_dedicated_cluster)
- [AWS MSK PrivateLink](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.0/examples/mongodbatlas_stream_privatelink_endpoint/aws_msk_cluster)
- [AWS S3 PrivateLink](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.0/examples/mongodbatlas_stream_privatelink_endpoint/s3)
- [Azure PrivateLink](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.0.0/examples/mongodbatlas_stream_privatelink_endpoint/azure)

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Streams Privatelink](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-createprivatelinkconnection) Documentation.
