# {{ if .Name }}{{.Type}}: {{.Name}}{{ end }}

## Example Usages
{{ if .Name }}
    {{ if eq .Name "mongodbatlas_network_peering" }}
        {{ tffile (printf "examples/%s/aws/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_advanced_cluster" }}
        {{ tffile (printf "examples/%s/multi-cloud/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_privatelink_endpoint" }}
        {{ tffile (printf "examples/%s/aws/cluster/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_privatelink_endpoint_service_serverless" }}
    {{ else if eq .Name "mongodbatlas_privatelink_endpoint_serverless" }}
    {{ else if eq .Name "mongodbatlas_cluster" }}
        {{ tffile (printf "examples/%s/tenant-upgrade/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_cluster" }}
        {{ tffile (printf "examples/%s/point-in-time/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_organization" }}
        {{ tffile (printf "examples/%s/organization-step-1/main.tf" .Name )}}
    {{ else if eq .Name "mongodbatlas_privatelink_endpoint_service" }}
        {{ tffile "examples/mongodbatlas_privatelink_endpoint/aws/cluster/main.tf" }}
    {{ else if eq .Name "mongodbatlas_cloud_provider_access_authorization" }}
        {{ tffile "examples/mongodbatlas_cloud_provider_access/aws/main.tf" }}
    {{ else if eq .Name "mongodbatlas_cloud_provider_access_setup" }}
        {{ tffile "examples/mongodbatlas_cloud_provider_access/aws/main.tf" }}
    {{ else if eq .Name "mongodbatlas_federated_settings_org_config" }}
        {{ tffile "examples/mongodbatlas_federated_settings_org_role_mapping/main.tf" }}
    {{ else if eq .Name "mongodbatlas_cloud_backup_snapshot" }}
        {{ tffile "examples/mongodbatlas_cloud_backup_snapshot_export_job/main.tf" }}
    {{ else if eq .Name "mongodbatlas_cloud_backup_snapshot_export_bucket" }}
        {{ tffile "examples/mongodbatlas_cloud_backup_snapshot_export_bucket/aws/main.tf" }}
    {{ else if eq .Name "mongodbatlas_api_key" }}
    {{ else if eq .Name "mongodbatlas_backup_compliance_policy" }}
    {{ else if eq .Name "mongodbatlas_event_trigger" }}
    {{ else if eq .Name "mongodbatlas_access_list_api_key" }}
    {{ else if eq .Name "mongodbatlas_custom_dns_configuration_cluster_aws" }}
    {{ else if eq .Name "mongodbatlas_search_index" }}
    {{ else if eq .Name "mongodbatlas_team" }}
    {{ else if eq .Name "mongodbatlas_project_invitation" }}
    {{ else if eq .Name "mongodbatlas_org_invitation" }}
    {{ else if eq .Name "mongodbatlas_project_api_key" }}
    {{ else if eq .Name "mongodbatlas_global_cluster_config" }}
    {{ else if eq .Name "mongodbatlas_network_container" }}
    {{ else if eq .Name "mongodbatlas_custom_db_role" }}
    {{ else if eq .Name "mongodbatlas_federated_settings_identity_provider" }}
    {{ else if eq .Name "mongodbatlas_cloud_backup_snapshot_restore_job" }}
    {{ else if eq .Name "mongodbatlas_private_endpoint_regional_mode" }}
    {{ else if eq .Name "mongodbatlas_auditing" }}
    {{ else if eq .Name "mongodbatlas_encryption_at_rest" }}
    {{ else if eq .Name "mongodbatlas_ldap_configuration" }}
    {{ else if eq .Name "mongodbatlas_team" }}
    {{ else if eq .Name "mongodbatlas_serverless_instance" }}
    {{ else if eq .Name "mongodbatlas_maintenance_window" }}
    {{ else if eq .Name "mongodbatlas_ldap_verify" }}
    {{ else if eq .Name "mongodbatlas_third_party_integration" }}
    {{ else if eq .Name "mongodbatlas_x509_authentication_database_user" }}
    {{ else if eq .Name "mongodbatlas_privatelink_endpoint_service_data_federation_online_archive" }}
    {{ else }}
        {{ tffile (printf "examples/%s/main.tf" .Name )}}
    {{ end }}
{{ end }}

{{ if .SchemaMarkdown }}{{ .SchemaMarkdown | trimspace }}{{ end }}

For more information see: [MongoDB Atlas API - Search Node](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/#tag/Atlas-Search/operation/createAtlasSearchDeployment) Documentation.
