---
subcategory: "Programmatic API Keys"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides an API Key Project Assignments data source. The data source lets you list all API key project assignments for an organization.

## Example Usages

{{ tffile "examples/mongodbatlas_api_key/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Programmatic API Keys Project Assignment](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-programmatic-api-keys) Documentation.
