# {{.Type}}: {{.Name}}

`{{.Name}}` describes an API Key Project Assignment.

## Example Usages

{{ tffile "examples/mongodbatlas_api_key/main.tf" }}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Programmatic API Keys Project Assignment](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-programmatic-api-keys) Documentation.
