---
subcategory: "Root"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all control plane IP addresses.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Return All Control Plane IP Addresses](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-returnallcontrolplaneipaddresses) Documentation.
