---
layout: "mongodbatlas"
page_title: "MongoDB Atlas: {{.Name}}"
subcategory: "docs_{{ .Name }}_{{.Type | lower}}"
description: |-
{{ .Description | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

## Example Usages

{{ tffile (printf "examples/atlas-database-users/database_user.tf")}}

{{ .SchemaMarkdown | trimspace }}
