# {{.Type}}: {{.Name}}

`{{.Name}}` describes a private endpoint used for encryption at rest using customer-managed keys.

## Example Usages

{{ tffile (printf "examples/%s/azure/singular-data-source.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: 
- [MongoDB Atlas API - Private Endpoint for Encryption at Rest Using Customer Key Management](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Encryption-at-Rest-using-Customer-Key-Management/operation/getEncryptionAtRestPrivateEndpoint) Documentation.
- [Manage Customer Keys with Azure Key Vault Over Private Endpoints](https://www.mongodb.com/docs/atlas/security/azure-kms-over-private-endpoint/).
