---
subcategory: "Encryption at Rest using Customer Key Management"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes private endpoints of a particular cloud provider used for encryption at rest using customer-managed keys.

## Example Usages

-> **NOTE:** Only Azure Key Vault with Azure Private Link and AWS KMS over AWS PrivateLink is supported at this time.

### Encryption At Rest Azure Key Vault Private Endpoint
To learn more about existing limitations, see [Manage Customer Keys with Azure Key Vault Over Private Endpoints](https://www.mongodb.com/docs/atlas/security/azure-kms-over-private-endpoint/#manage-customer-keys-with-azure-key-vault-over-private-endpoints).

{{ tffile ("examples/mongodbatlas_encryption_at_rest_private_endpoint/azure/plural-data-source.tf") }}

### Encryption At Rest AWS KMS Private Endpoint
{{ tffile ("examples/mongodbatlas_encryption_at_rest_private_endpoint/aws/plural-data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}

For more information see: 
- [MongoDB Atlas API - Private Endpoint for Encryption at Rest Using Customer Key Management](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-getencryptionatrestprivateendpointsForCloudProvider) Documentation.
- [Manage Customer Keys with Azure Key Vault Over Private Endpoints](https://www.mongodb.com/docs/atlas/security/azure-kms-over-private-endpoint/).
