# {{.Type}}: {{.Name}}

`{{.Name}}` describes a flex snapshot.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_flex_cluster/snapshot.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Flex Snapshots](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-getflexbackup) Documentation.
