---
subcategory: "Clusters"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes a flex cluster.

**RECOMMENDATION:** We recommend using the `mongodbatlas_advanced_cluster` data source instead of `mongodbatlas_flex_cluster` data source to retrieve Flex clusters. The `mongodbatlas_advanced_cluster` data source not only supports Flex clusters, but also supports free and dedicated clusters, providing easier migration between different cluster types. For more information, see the [Advanced Cluster](https://registry.terraform.io/providers/mongodb/mongodbatlas/latest/docs/data-sources/advanced_cluster) data source.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Flex Cluster](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/#tag/Flex-Clusters/operation/getFlexCluster) Documentation.
