---
subcategory: "Flex Restore Jobs"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all flex restore job of a flex cluster.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_flex_cluster/restore_job.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Flex Restore Job](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listflexbackuprestorejobs) Documentation.
