---
subcategory: "Clusters"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all snapshots of a flex cluster.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_flex_cluster/snapshot.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Flex Snapshots](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listflexbackups) Documentation.
