# {{.Type}}: {{.Name}}

`{{.Name}}` describes a flex restore job.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_flex_cluster/restore_job.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Flex Restore Job](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-getflexbackuprestorejob) Documentation.
