---
subcategory: "Log Integration"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes the configuration for a log integration identified by its unique ID. Log integrations are managed at the project level and allow you to continually export mongod, mongos, and audit logs to an AWS S3 bucket with 1-minute log export intervals.

To use this data source, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Log Integration](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Log-Integrations) Documentation.

