---
subcategory: "Remote MCP"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all Remote MCP Configurations for the specified Organization.

## Example Usages
{{ tffile "examples/mongodbatlas_mcp_config/plural-data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

For more information, see [Return All MCP Configurations for One Organization](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgmcpconfigs) in the MongoDB Atlas API documentation.
