---
subcategory: "Metric Integration"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes all metric integrations configured at the project level.

To use this data source, the requesting Service Account or API Key must have the Organization Owner or Project Owner role.

~> **Note:** `integration_type` and `provider_type` are optional filters that must be specified together. If one is set, the other must also be set.

## Example Usage

{{ tffile "examples/mongodbatlas_metric_integration/main.tf" }}

{{/* TODO: update URL to master once dev/CLOUDP-386089_OTel_Metrics_Sink is merged */}}
### Further Examples
- [Metric Integration Examples](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/dev/CLOUDP-386089_OTel_Metrics_Sink/examples/mongodbatlas_metric_integration)

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas - OTel Integration](https://www.mongodb.com/docs/atlas/tutorial/otel-integration/) Documentation.
