---
subcategory: "Projects"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all IP Access List entries for a project. The access list grants access from IPs, CIDRs or AWS Security Groups (if VPC Peering is enabled) to clusters within the Project.

-> **NOTE:** Groups and projects are synonymous terms. You may find `groupId` in the official documentation.

## Example Usage
```terraform
resource "mongodbatlas_project_ip_access_list" "ip" {
  project_id = var.project_id
  ip_address = "2.3.4.5"
  comment    = "ip address test"
}

resource "mongodbatlas_project_ip_access_list" "cidr" {
  project_id = var.project_id
  cidr_block = "1.2.3.4/32"
  comment    = "cidr block test"
}

data "mongodbatlas_project_ip_access_lists" "this" {
  project_id = var.project_id
  depends_on = [mongodbatlas_project_ip_access_list.ip, mongodbatlas_project_ip_access_list.cidr]
}
```

{{ .SchemaMarkdown | trimspace }}

For more information, see [MongoDB Atlas API Reference](https://docs.atlas.mongodb.com/reference/api/access-lists/).
