---
subcategory: "Projects"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns the IP addresses in a project categorized by services.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Return All IP Addresses for One Project](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-returnallipaddresses) Documentation.
