---
subcategory: "Service Accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all Service Accounts for the specified Project.

~> **IMPORTANT WARNING:** Managing Service Accounts with Terraform **exposes sensitive organizational secrets** in Terraform's state. We suggest following [Terraform's best practices](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

## Example Usages
{{ tffile (printf "examples/mongodbatlas_project_service_account/main.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information, see [Return All Project Service Accounts](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listgroupserviceaccounts) in the MongoDB Atlas API documentation.
