---
subcategory: "Push-Based Log Export"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes the configured project level settings for the push-based log export feature.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Push-Based Log Export](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-push-based-log-export) Documentation.
