---
subcategory: "Push-Based Log Export"
---

# {{.Type}}: {{.Name}}

~> **DEPRECATED:** This data source is deprecated and will be removed in the next major version. Please use [`mongodbatlas_log_integration`](log_integration) instead. For migration instructions, see the [Push-Based Log Export to Log Integration Migration Guide](../guides/push-based-log-export-to-log-integration-migration-guide).

`{{.Name}}` describes the configured project level settings for the push-based log export feature.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Push-Based Log Export](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-push-based-log-export) Documentation.
