# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}
`mongodbatlas_push_based_log_export` describes the configured project level settings for the push-based log export feature.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Push-Based Log Export](https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Push-Based-Log-Export) Documentation.
