---
subcategory: "Resource Policies"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes a resource policy in an organization.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

