---
subcategory: "Resource Policies"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all resource policies in an organization.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_resource_policy/main.tf" )}}

{{ .SchemaMarkdown | trimspace }}

