# {{.Type}}: {{.Name}}

`{{.Name}}` describes a resource policy in an organization.

-> **NOTE**: Resource Policies are currently in Private Preview. To use this feature, you must take the following actions:
1. Enable the `Atlas Resource Policies` Preview Feature in your organization (contact [MongoDB Support](https://www.mongodb.com/services/support)).
2. Enable the [Preview Features](https://github.com/mongodb/terraform-provider-mongodbatlas?tab=readme-ov-file#preview-features) when running `terraform` commands.

## Example Usages
{{ tffile (printf "examples/%s/main.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

