---
subcategory: "Service Accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all Projects that the specified Service Account is assigned to.

~> **IMPORTANT WARNING:** Managing Service Accounts with Terraform will expose sensitive organizational secrets in Terraform's state. We suggest following [Terraform's best practices](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

## Example Usages

{{ tffile (printf "examples/mongodbatlas_service_account_project_assignment/main.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information, see [Return All Service Account Project Assignments](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-getorgserviceaccountgroups) in the MongoDB Atlas API documentation.
