---
subcategory: "Service Accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` returns all Service Accounts for the specified Organization.

## Example Usages
{{ tffile (printf "examples/mongodbatlas_service_account/main.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information, see [Return All Organization Service Accounts](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgserviceaccounts) in the MongoDB Atlas API documentation.
