# {{.Type}}: {{.Name}}

`{{.Name}}` describes a Privatelink Endpoint for Streams.

## Example Usages

### AWS Confluent Privatelink
{{ tffile (printf "examples/mongodbatlas_stream_privatelink_endpoint/confluent_dedicated_cluster/main.tf" )}}

### AWS MSK Privatelink
{{ tffile (printf "examples/mongodbatlas_stream_privatelink_endpoint/aws_msk_cluster/main.tf" )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Streams Privatelink](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-createprivatelinkconnection) Documentation.
