name: Check migration guide

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

jobs:
  check:
    if: ${{ contains(github.event.pull_request.title, '!') }}  
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            guides:
                - 'docs/guides/**'
      - if: ${{ steps.changes.outputs.guides == 'false' }}
        run: echo "PR with breaking changes but no migration guide was created or updated" && exit 1
