name: Check changelog entry file

on:
  pull_request:
    types: [opened, reopened, synchronize, edited, labeled, unlabeled]

jobs:
  check:
    env:
      PR_TITLE: ${{ github.event.pull_request.title }}
      PR_NUMBER: ${{ github.event.pull_request.number }}
      PR_LABELS: ${{ toJson(github.event.pull_request.labels.*.name) }}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b
        with:
          go-version-file: 'go.mod'
      - run: make check-changelog-entry-file
