name: 'Cleanup test env'

on:
  workflow_dispatch: {} # workflow can be run manually
  schedule:
    - cron: "0 3 * * *" # workflow runs every day at 03:00 AM

jobs:  
  clenup-test-env-general:
    runs-on: ubuntu-latest
    steps:
      - name: setup Atlas CLI
        uses: andreaangiolillo/atlas-cli-github-action@v1.1.1
        with:
          public-key: ${{ secrets.MONGODB_ATLAS_PUBLIC_KEY_CLOUD_DEV }}
          private-key: ${{ secrets.MONGODB_ATLAS_PRIVATE_KEY_CLOUD_DEV }}
          org-id: ${{ vars.MONGODB_ATLAS_ORG_ID_CLOUD_DEV }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts
      - name: Cleanup cloud-dev
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_API_KEY: ${{ secrets.MONGODB_ATLAS_PUBLIC_KEY_CLOUD_DEV }}
          MONGODB_ATLAS_PRIVATE_API_KEY: ${{ secrets.MONGODB_ATLAS_PRIVATE_KEY_CLOUD_DEV }}
          MONGODB_ATLAS_ORG_ID: ${{ vars.MONGODB_ATLAS_ORG_ID_CLOUD_DEV }}
          MONGODB_ATLAS_OPS_MANAGER_URL: ${{vars.MONGODB_ATLAS_BASE_URL}}
        run: ./scripts/cleanup-test-env.sh      
  clenup-test-env-network:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Atlas CLI
        uses: andreaangiolillo/atlas-cli-github-action@v1.1.1
        with:
          public-key: ${{ secrets.MONGODB_ATLAS_PUBLIC_KEY_CLOUD_DEV_NETWORK }}
          private-key: ${{ secrets.MONGODB_ATLAS_PRIVATE_KEY_CLOUD_DEV_NETWORK }}
          org-id: ${{ vars.MONGODB_ATLAS_ORG_ID_CLOUD_DEV_NETWORK }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts
      - name: Cleanup test env network
        shell: bash
        env:
          MONGODB_ATLAS_PUBLIC_API_KEY: ${{ secrets.MONGODB_ATLAS_PUBLIC_KEY_CLOUD_DEV_NETWORK }}
          MONGODB_ATLAS_PRIVATE_API_KEY: ${{ secrets.MONGODB_ATLAS_PRIVATE_KEY_CLOUD_DEV_NETWORK }}
          MONGODB_ATLAS_ORG_ID: ${{ vars.MONGODB_ATLAS_ORG_ID_CLOUD_DEV_NETWORK }}
          MONGODB_ATLAS_OPS_MANAGER_URL: ${{vars.MONGODB_ATLAS_BASE_URL}}
          PROJECT_TO_NOT_DELETE: ${{vars.MONGODB_ATLAS_PROJECT_ID_CLOUD_DEV_NETWORK}}
        run: ./scripts/cleanup-test-env.sh
