name: 'Code Health'

# Set of validations run on each pull request and merged commits to master.
on:
  push:
    branches:
      - master
      - v1-lts
    paths-ignore: # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths
      - '*.md'
      - 'examples/**'
      - 'LICENSE'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: 'go.mod'
      - name: Setup, build and verify
        run: make tools build verify
  unit-test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # Needed by sticky-pull-request-comment
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      # Avoid: cannot run Terraform provider tests: error calling terraform version command: fork/exec /tmp/plugintest-terraformXXX/terraform: text file busy also speeds up the tests as terraform will already exist on path.
      # Also speeds up the tests
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: '1.14.x'
          terraform_wrapper: false
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: 'go.mod'
      - name: Unit Test
        run: make test
  github-linters:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: 'go.mod'
      - name: actionlint
        run: |
          make tools
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color
      - name: Run ShellCheck
        uses: bewuethr/shellcheck-action@80bac2daa9fcf95d648200a793d00060857e6dc4
  generate-doc-check:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - run: make tools generate-docs-all
      - name: Find mutations
        id: self_mutation
        run: |-
          git add .
          git diff --staged --patch --exit-code > doc.repo.patch || echo "self_mutation_happened=true" >> "${GITHUB_OUTPUT}"
      - name: Fail build on mutation
        if: steps.self_mutation.outputs.self_mutation_happened
        run: |-
          echo "::error::Files were changed during build (see build log). If this was triggered from a fork, you will need to update your branch."
          cat doc.repo.patch
          exit 1
  call-acceptance-tests-workflow:
    needs: [build, github-linters, unit-test, generate-doc-check]
    secrets: inherit
    uses: ./.github/workflows/acceptance-tests.yml
    with:
      reduced_tests: true
