name: Examples Checks

# Runs terraform linting and validation commands when examples are modified. Triggered in pull requests and merged commits to master.
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
# TODO: uncomment once advanced_cluster examples are updated
  # tf-validate:
  #   runs-on: ubuntu-latest
  #   permissions: {}
  #   steps:
  #     - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
  #     - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
  #       with:
  #         go-version-file: 'go.mod'
  #     - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
  #       with:
  #         terraform_version: '1.12.x'
  #         terraform_wrapper: false
  #     - name: tf-validate
  #       run: make tools tf-validate
  tflint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: 'go.mod'
      - name: tflint
        run: | 
          echo "::add-matcher::.github/tflint-matcher.json"
          make tools tflint
