name: Examples Checks

# Runs terraform linting and validation commands when examples are modified. Triggered in pull requests and merged commits to master.
on:
  push:
    branches:
      - master
      - master-v1
  pull_request:
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  tf-validate:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: '1.13.x'
          terraform_wrapper: false
      - name: tf-validate
        run: make tools tf-validate
  tflint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: 'go.mod'
      - name: tflint
        run: | 
          echo "::add-matcher::.github/tflint-matcher.json"
          make tools tflint
