name: Examples Checks
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/examples.yml
      - examples/**

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  tf-validate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.4.6"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: echo "GO_VERSION=$(cat .go-version)" >> "${GITHUB_ENV}"
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: go build
        run: go build -o terraform-plugin-dir/terraform-provider-mongodbatlas-dev_v99.99.99_x5 .
      - name: override plugin
        run: |
          # For newer versions
          mkdir -p ~/.terraform.d/plugins/registry.terraform.io/hashicorp/mongodbatlas-dev/99.99.99/"$(go env GOOS)"_"$(go env GOARCH)"/
          cp terraform-plugin-dir/terraform-provider-mongodbatlas-dev_v99.99.99_x5 ~/.terraform.d/plugins/registry.terraform.io/hashicorp/mongodbatlas-dev/99.99.99/"$(go env GOOS)"_"$(go env GOARCH)"/
      - name: replace names of provider for local development
        run: grep --include=\*.tf -rnl './examples' -e 'source = "mongodb/mongodbatlas"' | xargs sed -i s@mongodb/mongodbatlas@hashicorp/mongodbatlas-dev@g
      - name: remove version of provider for local development
        run: grep --include=\*.tf -rnl './examples' -e 'version =' | xargs sed -i '/^\s*version =/d'
      - name: Fix format after substitutions
        run: grep --include=\*.tf -rnl './examples' -e 'source[[:space:]]\+=' | xargs sed -i 's@\(\([[:space:]]*\)source\)[[:space:]]\+=[[:space:]]*@\2source = @g'
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.terraform_version }}
          # Needed to use the output of `terraform validate -json`
          terraform_wrapper: false
      - name: tf-validate
        run: make tools && make tf-validate
  tflint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.4.6"]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: tflint
        run: make tools && make tflint
