name: Examples Checks

# Runs terraform linting and validation commands when examples are modified. Triggered in pull requests and merged commits to master.
on:
  push:
    branches:
      - master
      - master-v1
  pull_request:
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  tf-validate:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'go.mod'
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: '1.14.x'
          terraform_wrapper: false
      - name: tf-validate
        run: make tools tf-validate
  tflint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'go.mod'
      - name: tflint
        run: | 
          echo "::add-matcher::.github/tflint-matcher.json"
          make tools tflint
