name: Generate Changelog
on:
  pull_request:
    types: [closed]
    branches: [master]
    paths:
      - .changelog/**
  workflow_dispatch:
jobs:
  generate-and-update-changelog:
    if: github.event.pull_request.merged || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/run-script-and-commit.yml
    with:
      script_call: 'make tools update-changelog-unreleased-section'
      file_to_commit: 'CHANGELOG.md'
      commit_message: ${{ github.event_name == 'workflow_dispatch' && 'Update CHANGELOG.md (Manual Trigger)' || format('{0}{1}', 'Update CHANGELOG.md for \#', github.event.pull_request.number) }}
      user_email: 'svc-api-experience-integrations-escalation@mongodb.com'
      user_name: 'svc-apix-bot'
    secrets:
      remote: https://svc-apix-bot:${{ secrets.APIX_BOT_PAT }}@github.com/${{ github.repository }}  
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}     

  slack-notification:
    needs: [generate-and-update-changelog]
    if: ${{ !cancelled() && needs.generate-and-update-changelog.result == 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack message
        id: slack
        uses: slackapi/slack-github-action@6c661ce58804a1a20f6dc5fbee7f0381b469e001
        with:
          payload: |
            {
              "text": "Automatic Changelog update failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Automatic Changelog update failed* ${{ secrets.SLACK_ONCALL_TAG }}"
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                        "type": "button",
                        "text": {
                            "type": "plain_text",
                            "text": ":github: Failed action"
                        },
                        "url": "${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"
                    }
                ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

