name: Generate Changelog
on:
  pull_request:
    types: [closed]
    branches: [master]
    paths:
      - .changelog/**
  workflow_dispatch:
jobs:
  generate-and-update-changelog:
    if: github.event.pull_request.merged || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/run-script-and-commit.yml
    with:
      script_call: 'make tools update-changelog-unreleased-section'
      file_to_commit: 'CHANGELOG.md'
      commit_message: ${{ github.event_name == 'workflow_dispatch' && 'Update CHANGELOG.md (Manual Trigger)' || format('{0}{1}', 'Update CHANGELOG.md for \#', github.event.pull_request.number) }}
      user_email: 'svc-api-experience-integrations-escalation@mongodb.com'
      user_name: 'svc-apix-bot'
    secrets:
      remote: https://svc-apix-bot:${{ secrets.APIX_BOT_PAT }}@github.com/${{ github.repository }}  
      GPG_PRIVATE_KEY: ${{ secrets.APIX_BOT_GPG_PRIVATE_KEY }}
      PASSPHRASE: ${{ secrets.APIX_BOT_PASSPHRASE }}     

  