---
  name: Create JIRA ticket for new issues
  
  on:
    issues:
      types: [opened]
  permissions: 
    issues: write
    contents: read
  jobs:
    jira_task:
      name: Create Jira issue
      runs-on: ubuntu-latest
      steps:
      - name: Create JIRA ticket
        id: create
        shell: bash
        env:
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_ASSIGNEE: ${{ secrets.ASSIGNEE_JIRA_TICKET }}
        run: |
            json_response=$(curl --request POST \
              --url 'https://jira.mongodb.org/rest/api/2/issue' \
              --header 'Authorization: Bearer '"${JIRA_API_TOKEN}" \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
            --data '{
              "fields": {
                  "project": {
                      "id": "10984"
                  },
                  "summary": "HELP: GitHub Issue n. '"${ISSUE_NUMBER}"'",
                  "issuetype": {
                      "id": "3"
                  },
                  "description": "This ticket tracks the following GitHub issue: '"${ISSUE_URL}"'.",
                  "components": [
                      {
                          "id": "34035"
                      }
                  ]
              }
            }')
  
          echo "Response: ${json_response}"
  
          JIRA_TICKET_ID=$(echo "${json_response}" | jq -r '.key')
  
          echo "The following JIRA ticket has been created: ${JIRA_TICKET_ID}"
          echo "jira-ticket-id=${JIRA_TICKET_ID}" >> "${GITHUB_OUTPUT}"
      - name: Add comment
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thanks for opening this issue! Please make sure you've followed [our guidelines](https://github.com/mongodb/terraform-provider-mongodbatlas/issues/new?assignees=&labels=&projects=&template=Bug_Report.md) when opening the issue. In short, to help us reproduce the issue we need:
              - Terraform configuration file used to reproduce the issue
              - Terraform log files from the run where the issue occurred
              - Terraform Atlas provider version used to reproduce the issue
              - Terraform version used to reproduce the issue
              - Confirmation if Terraform OSS, Terraform Cloud, or Terraform Enterprise deployment 

            The ticket [${{ steps.create.outputs.jira-ticket-id }}](https://jira.mongodb.org/browse/${{ steps.create.outputs.jira-ticket-id }}) was created for internal tracking.
