name: Jira Release Version

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'Version number, no pre-releases (e.g., v1.0.0)'
        type: string
        required: true

  workflow_call:
    inputs:
      version_number:
        description: 'Version number, no pre-releases (e.g., v1.0.0)'
        type: string
        required: true

jobs:
  release-version:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Validation of version format, no pre-releases
        run: |
          echo "${{ inputs.version_number }}" | grep -P '^v\d+\.\d+\.\d+$'
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
        with:
          go-version-file: 'go.mod'
      - run: make jira-release-version
        env:
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          VERSION_NUMBER: ${{ inputs.version_number }}
