name: Notify Docs team

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.changes.outputs.files }}
    permissions:
      pull-requests: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: changes
        with:
          filters: |
            files:
              - '.changelog/**'
              - 'docs/**'
        
  slack-notification:
    needs: check
    if: ${{ needs.check.outputs.files == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # Needed by sticky-pull-request-comment
    steps:
      - uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL_DOCS }}
          webhook-type: incoming-webhook
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "hey ${{ secrets.SLACK_DOCS_TAG }}, this is APIx bot, can you please review <${{ github.event.pull_request.html_url }}|PR ${{ github.event.pull_request.number }}>? thanks a lot!"
                  }
                }
              ]
            }
      - uses: marocchino/sticky-pull-request-comment@67d0dec7b07ed060a405f9b2a64b8ab319fdd7db
        with:
          header: pr-title-slack-doc
          append: true
          message: "APIx bot: a message has been sent to Docs Slack channel"
