name: Run Script and Commit Changes

# Unifies logic for running a script and commit specific changes to master. Used during release process and for updating changelog on merged PRs.
on:
  workflow_call:
    inputs:
      script_call:
        required: true
        type: string
      file_to_commit:
        required: true
        type: string
      commit_message:
        required: true
        type: string
      user_email:
        required: true
        type: string
      user_name:
        required: true
        type: string
    secrets:
      remote:
        required: true
      gpg_private_key:
        required: true
      passphrase:
        required: true

jobs:
  run_script_and_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
        with:
          fetch-depth: 0
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491
        with:
          go-version-file: 'go.mod'

      - name: Run specified script
        run: ${{ inputs.script_call }}

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v2
        with:
          git_user_signingkey: true
          git_commit_gpgsign: true
        env:
          GPG_PRIVATE_KEY: ${{ secrets.gpg_private_key }}
          PASSPHRASE: ${{ secrets.passphrase }}

      - name: Commit changes
        run: |
          if [[ $(git status --porcelain) ]]; then
            git pull
            git config --local user.email ${{ inputs.user_email }}
            git config --local user.name ${{ inputs.user_name }}
            git remote set-url origin ${{ secrets.remote }}
            git add ${{ inputs.file_to_commit }}
            git commit -m "${{ inputs.commit_message }}"
            git push
          else
            echo "No changes to commit."
          fi
