name: 'Test Suite'

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *" # workflow runs every day at 02:00 AM
  
jobs:

  mig-tests:
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        terraform_version: ['', '1.0.8'] # '' for latest version
        provider_version: ['', '1.11.1'] # '' for latest version
    name: mig-tests-${{ matrix.terraform_version }}-${{ matrix.provider_version }}
    secrets: inherit
    uses: ./.github/workflows/migration-tests.yml
    with:
      terraform_version: ${{ matrix.terraform_version }}
      provider_version: ${{ matrix.provider_version }}

  acc-tests:
    needs: mig-tests
    if: ${{ !cancelled() }} # run acc tests even if mig tests fail
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        terraform_version: ['', '1.0.8'] # '' for latest version
    name: acc-tests-${{ matrix.terraform_version }}
    secrets: inherit
    uses: ./.github/workflows/acceptance-tests.yml
    with:
      terraform_version: ${{ matrix.terraform_version }}
