name: 'Update dev branches'

on:
  workflow_dispatch:
    inputs:
      branches:
        description: 'Dev branch names to update from master'
        default: '["CLOUDP-320243-dev-2.0.0"]'
      force-auto-resolve:
        description: 'Force auto-resolve conflicts by favoring master changes. Some changes in dev branch might be lost.'
        required: false
        default: false
        type: boolean
  schedule:
    - cron: "0 5 * * 3" # workflow runs every Wednesday at 5 AM UTC

concurrency:
  group: '${{ github.workflow }}'
  cancel-in-progress: false
   
jobs:
  update-branches:
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        branch: ${{ fromJSON(inputs.branches || '["CLOUDP-320243-dev-2.0.0"]') }} # scheduled branches go here
    name: ${{ matrix.branch }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      with:
        fetch-depth: 0
    - run: |
        git config --local user.email svc-api-experience-integrations-escalation@mongodb.com
        git config --local user.name svc-apix-bot
    
    - run: |
        echo "Updating branch: ${{ matrix.branch }}"
        
        if ! git ls-remote --heads origin ${{ matrix.branch }} | grep -q ${{ matrix.branch }}; then
          echo "ERROR: Branch ${{ matrix.branch }} does not exist."
          exit 1
        fi
        
        git fetch origin master
        git fetch origin ${{ matrix.branch }}        
        git checkout -B ${{ matrix.branch }} origin/${{ matrix.branch }}
        
        if git rebase origin/master; then
          echo "OK: Rebase completed successfully with no conflicts."
        else
          # Check if conflicts can be auto-resolved
          git rebase --abort
          if git rebase origin/master -X theirs; then
            if [ "${{ inputs.force-auto-resolve }}" = "true" ]; then
              echo "WARNING: Rebase conflicts detected but auto-resolved by favoring master changes because force-auto-resolve is true."
            else
              echo "ERROR: Rebase conflicts detected that can be auto-resolved by favoring master changes."
              echo "Manual review required to ensure no important changes are lost. Set force-auto-resolve to true to auto-resolve these conflicts."
              git rebase --abort
              exit 1
            fi
          else
            echo "ERROR: Rebase conflicts detected that need manual intervention, they can't be auto-resolved."
            exit 1
          fi
        fi
        
        # Check if there are any changes between rebased branch and original remote branch
        if git diff --quiet origin/${{ matrix.branch }} HEAD; then
          echo "No changes detected between rebased branch and original remote branch. PR would not introduce any changes."
          echo "has-changes=false" >> "${GITHUB_OUTPUT}"
        else
          echo "Changes detected between rebased branch and original remote branch. PR will introduce changes."
          echo "has-changes=true" >> "${GITHUB_OUTPUT}"
        fi
      id: rebase-check

    - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
      if: steps.rebase-check.outputs.has-changes == 'true'
      with:
        token: ${{ secrets.APIX_BOT_PAT }}
        title: "chore: Update ${{ matrix.branch }} from master"
        commit-message: "Update ${{ matrix.branch }} from master"
        delete-branch: true
        branch: update-${{ matrix.branch }}-from-master
        base: ${{ matrix.branch }}
        body: "Automated update of `${{ matrix.branch }}` branch with latest changes from master branch."
        labels: "skip-docs-notification"

  slack-notification:
    needs: update-branches
    if: ${{ !cancelled() && needs.update-branches.result == 'failure' }}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "text": "Update dev branches failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Update dev branches failed* ${{ secrets.SLACK_ONCALL_TAG }} <${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}|View Failed Action>"
                  }
                }
              ]
            }
