name: Update Terraform Versions

# Checks if any changes are required to be made to our documentation for supported Terraform versions. Runs daily and can be triggered manually.
on:
 schedule:
   - cron: "0 7 * * *" # Everyday at 7:00 AM 
 workflow_dispatch:
  
jobs:
  update-tf-compatibility-matrix:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Update files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:  make update-tf-compatibility-matrix
      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "doc: Updates Terraform Compatibility Matrix documentation"
          commit-message: "doc: Updates Terraform Compatibility Matrix documentation"
          delete-branch: true
          branch: terraform-compatibility-matrix-update
          body: "Automatic updates for Terraform Compatibility Matrix documentation."
  
  update-tf-version-in-repository:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Update files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:  make update-tf-version-in-repository
      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "chore: Updates repository to use supported Terraform versions"
          commit-message: "chore: Updates repository to use supported Terraform versions"
          delete-branch: true
          branch: terraform-versions-update
          body: "Automatic updates for our repository to use supported Terraform versions."
