name: Update Terraform Compatibility Matrix documentation

# Checks if any changes are required to be made to our documentation for supported Terraform versions. Runs daily and can be triggered manually.
on:
 schedule:
   - cron: "0 7 * * *" # Everyday at 7:00 AM 
 workflow_dispatch:
  
jobs:
  update-tf-compatibility-matrix:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29
      - name: Update files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:  make update-tf-compatibility-matrix
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@9241ea0b294e597ff49928779b5cfbc8a97f5e99
        id: verify-changed-files
      - name: Create PR
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "doc: Updates Terraform Compatibility Matrix documentation"
          commit-message: "doc: Updates Terraform Compatibility Matrix documentation"
          delete-branch: true
          branch: terraform-compatibility-matrix-update
          body: Automatic updates for Terraform Compatibility Matrix documentation
